{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <script src="https://use.fontawesome.com/2d80d2893d.js"></script>
    <title>Admin</title>
</head>
<body>
  <div id="bg"></div>

  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
      <div class="container">
        <a class="navbar-brand mr-4" href=""><i class="fas fa-home"></i> Hi  {{user.username}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
              
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i> </a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="margin-top: 5rem;">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
        {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'admin_students'%}">
        <div class="card shadow-lg cardhov">
          <div class="card-body">
            <h2 class="card-title ">All Students</h2>
          <h1 class="card-title display-2">{{student_count}}</h1>
        </div>
            </div>
          </div>
      </a>
    <div class="col-md-3">
      <a href="{% url 'admin_schools'%}">
      <div class="card shadow-lg cardhov">
<div class="card-body">
  <h2 class="card-title ">All Schools</h2>
  <h2 class="card-title display-2">{{school_count}}</h2>
</div>
    </div></a>
  </div>
    <div class="col-md-3">
      <a href="{% url 'admin_companies'%}">
      <div class="card shadow-lg cardhov">
<div class="card-body">
  <h2 class="aa card-title ">All Companies</h2>
  <h2 class="aa card-title display-2">{{company_count}}</h2>
</div>
    </div>
  </a></div>
    <div class="col-md-3">
      <a href="{% url 'admin_jobs'%}">
      <div class="card shadow-lg cardhov">
<div class="card-body">
  <h2 class="card-title ">All Jobs</h2>
  <h2 class="card-title display-2">{{job_count}}</h2>
</div>
    </div></a>
  </div>
  </div>
</div>
  <div class="container-fluid mt-4 mb-2">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'company_register' %}" class="btn btn-block btn-outline-success">Register company <i class="fa fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'school_register' %}" class="btn btn-block btn-outline-warning">Register school <i class="fa fa-solid fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <a href="{% url 'student_register' %}" class="btn btn-block btn-outline-secondary">Register student <i class="fa fa-solid fa-arrow-right"></i></a>
          </div>
        </div>

      </div> -->
    </div>
  </div>


 



  
              
              


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

              
</body>
</html>