{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% block title %}<title>Admin|Update School</title>{% endblock %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid mt-4">
    <a class="navbar-brand" href="{% url 'portaladmin' %}">Admin site</a>
  </div>
</nav>
  <div class="container mt-3 mb-3">
    <div class="row mt-2 mb-3">
        <div class="col">
            <h4 class="mt-4 mb-2">Update a School</h4>
            <div class="card-body mt-4 mb-4">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form|crispy }}
                    </div>
                    <div class="form-actions">
                        <button class="btn btn-lg btn-secondary" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
{% endblock %}