{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}<title>Company|Opening</title>{% endblock %}
{% block content %}
<nav class="navbar navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'company' user.company.id %}">Home</a>
    </div>
  </nav>
<div class="conatiner mt-4 mb-4">
    <div class="row mt-4 mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Edit Job</h4>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form.media}}
                {{form|crispy}}
                <input class="btn btn-info btn-block" type="submit" value="Save Job">
                
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

    
{% endblock %}