{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand mr-4" href=""><i class="fas fa-home"></i> Hi {{user.username}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
            
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout <i class="fas fa-sign-out-alt"></i> </a>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid mt-4 mb-4">
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover">
                  <thead class=" thead-dark">
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Status
                      </th>
                      <th scope="col">Update</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for job in jobs %}
                      <tr>
                          <td>{{job.title}}</td>
                          {% if job.is_open == True %}
                            <td>Open</td>
                          {% else %} 
                           <td>Closed</td>
                          {% endif %}
                          <td><a class="btn btn-info btn-sm" href="{% url 'update_job' job.id %}">Update</a></td>
                          <td><a class="btn btn-danger btn-sm" href="{% url 'delete_job' job.id %}">Delete</a></td>
                          </tr>
                
                    {% endfor %}
                  </tbody>
                  </table>  
                </div>
                    <div class="pagination align-items-center justify-content-center">
                      <span class="step-links">
                          {% if jobs.has_previous %}                                     <!--If there is a previous page-->
                              <a class="btn btn-info btn-sm" href="?page={{ jobs.previous_page_number }}">&laquo;</a>  <!--Hyperlink to previous page on Click-->
                          {% endif %}
                  
                          <span class="current">
                               Page{{ jobs.number }} of {{ jobs.paginator.num_pages }}  <!--customers_list.number Is the current page number,customers_list.paginator.num_pages Is the total number of pages-->
                          </span>
                  
                          {% if jobs.has_next %}    <!--If there is a next page-->
                              <a class="btn btn-info btn-sm" href="?page={{ jobs.next_page_number }}">&raquo;</a>    <!--Hyperlink to next page when clicked-->
                          {% endif %}
                      </span>
                  </div>
        </div>
        <div class="col-md-6 mt-2 mb-2">
            <h4>Create a new job</h4>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.media}}
                {{ form|crispy}}
                <input class="btn btn-info btn-block" type="submit" value="add new job">
            </form>
        </div>
    </div>
    <div class="row">
      {% for application in application_obj %}
      <div class="col-md-3 mt-2 mt-2">
        <div class="card">
          <div class="card-body">
            <h4 class="card-text">{{application.student.user.first_name}} {{application.student.user.last_name}}</h4>
            <h6 class="card-text">{{application.student.user.email}}</h6>
            <h6 class="card-text">school:{{application.student.school}}</h6>
            <p class="card-text">{{application.job.title}}</p>
            <div>
              <a class="btn btn-outline-danger btn-lg ml-2 mb-2" href="{% url 'delete_application' application.id %}">Delete</a>
            </div> 
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
<div class="mt-2 mb-2">
  <nav class="d-flex justify-content-center wow fadeIn">  
    <ul class="pagination pg-blue">
      {% if application_obj.has_previous %}  
        <li class="page-item ">
          <a class="page-link" href="?page={{ application_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
      {% endif %}
        <li class="page-item active">
          <a class="page-link" >{{ application_obj.number }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
      {% if application_obj.has_next %}  
        <li class="page-item">
          <a class="page-link" href="?page={{ application_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
</div>

{% endblock %}