{% extends 'base.html' %}
{% block content%}
  <div class="comtainer">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 mt-2 mb-2">

        {% for job in jobs %}
        <div class="card shadow-lg mt-4 mb-2">
          <div class="card-body">
            <h6 class="card-text text-center">{{job.title}}</h6>
            <h6 class="card-text text-center" class="text-uppercase" style="font-size: small; letter-spacing: 2px;">Required skills:</h6>
            <small class="text-center card-text"><p>{{job.required_skills|safe}}</p></small>
            <h6 class="card-text text-center" class="text-uppercase" style="font-size: small; letter-spacing: 2px;">Job description:</h6>
            <small class="text-center card-text"><p>{{job.description|safe}}</p></small>
            <div class="text-center">
              <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-outline-info btn-lg" type="submit">Send application</button>
              </form>
            </div>
          </div>
        </div>

    {% endfor %}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock %}