<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>job details</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'dashboard' %}"><i class="fas fa-home"></i>Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                
              </div>
            </div>
          </div>
        </nav>
      </header>
    {% for job in jobs %}
        <h6>{{job.title}}</h6>
        <h6 class="text-uppercase" style="font-size: small; letter-spacing: 2px;">Required skills:</h6>
        <small class=""><p>{{job.required_skills|safe}}</p></small>
        <form action="" method="post", enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}
          <input type="submit" value="Send application">
        </form>
            </a>
    {% endfor %}
</body>
</html>