{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}<title>reset|password|form</title>{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="mt-2 mb-2">
                <h4 class="text-uppercase" style="font-size: medium; letter-spacing: 2px; color: #32415c; font-weight: bold;">Reset your password</h4>
                <p class="lead text-muted">Please enter your new password twice so we can verify you typed it correctly</p>
            </div>
    
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="mt-2 btn btn-block btn-outline-success">Submit</button>
    </form>
</div>
<div class="col-md-2"></div>
</div>
</div>
{% endblock %}