{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}<title>School|Register student</title>{% endblock %}
{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
      <div class="container">
        <a class="navbar-brand mr-4" href=""><i class="fas fa-home"></i>Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            
          </div>
        </div>
      </div>
    </nav>
  </header>
  
<div class="conatiner mt-4 mb-4">
    <div class="row mt-4 mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h4>Register Student</h4>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{form|crispy}}
                <input class="btn btn-info btn-block" type="submit" value="Register student">
                
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

    
{% endblock %}